.Map{
    height: 50vh;
    position: relative;
    text-align: left;
    margin: 25px 0px 25px;
    
}

.mapRow{
    height: 600px;

}

#mapBlock{
    width: 60%;
    height: 600px;
    border: 1px solid gray;
    box-shadow: lightgray;
    margin: auto;
}


#mapForm{
    width: 30%;
    height: 600px;
    border: 1px solid gray;
    box-shadow: lightgray;
    margin: auto;
    align-content: center;
    vertical-align: middle; 
}
